.App {
    display: grid;
    align-content: center;
    height: 100%;
    justify-content: center;

    form {
        background-color: #fafafa;
        border: 1px solid #333;
        padding: 25px;
        box-shadow:
            -10px -10px 20px rgba(0, 0, 0, 0.2) inset,
        ;
        border-radius: 5px;;
    }
}
